*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    /* border: solid medium red; */
    width: 90%;
    margin-inline: auto;
    align-items: center;
    /* gap: 2rem; */
    transform: translateY(2rem);
   
}
.nav-menus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    
}
.nav-menus .menu{
    text-decoration: none;
    color: #262c55;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    font-family: 'moderat', sans-serif;
    padding-bottom: 20;
    /* border: solid medium red; */
    padding-bottom: 30px;
}
.flutterwave {
    align-self: center;
    display: block;
    height: auto;
    width: 190px;
}

.sign-in a{
    text-decoration: none;
    /* border: solid medium red; */
    padding: 15px 50px;
    background-color: rgba(128, 128, 128, 0.107);
    /* padding: 15px 50px; */
    width: 100%;
    border-radius: 8px;
    font-family: 'moderat',sans-serif;
    font-size: 14px;
    color: #0a0e27;
}

.sign-in a:hover{
    background-color: #262c55;
    color: white;
}
.nav-menu{
    
    position: relative;
    /* border: solid medium red; */
    /* padding-bottom: 20px; */
}
.rightdrop p{
    font-family: 'moderat',sans-serif;
    font-size: 14px;
}

.dropmenu{
    position: absolute;
    /* border: solid medium red; */
    width: 600px;
    list-style-type: none;
    margin-left: -30px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    top: 30px;
    /* gap: 8rem; */
    /* width: 100%; */
    display: none;
    /* background-color: #fffb00; */
    z-index: 20;
    background-color: white;
    
}
.submenu{
    text-decoration: none;
    line-height: 22.4px;
    font-size: 16px;
    font-weight: 400;
    color: #262c55;
    width: 100%;
    display: block;
    font-family: 'moderat',sans-serif;
    /* margin-left: 1rem; */
    /* margin-bottom: 1rem; */
    padding: 15px 20px;
    border-radius: 8px;
    

    /* border: solid medium red; */
}
.subcont{
    width: 80%;
    background-color: #f8fafd;
    padding: 10px;
    border-radius: 6px;

}
.submenu:hover{
    background-color: rgba(128, 128, 128, 0.194);
    /* padding: 10px 20px; */
}
.nav-menu:hover .dropmenu{
    display: flex;
}
.rightdrop{
    display: flex;
    align-items: center;
    /* justify-content: start; */
    /* margin-top: 2rem; */
    gap: 1rem;
    width: 100%;
    padding: 1rem; 
    /* margin: 1rem; */
    
}
.rightdrop .li{
    list-style-type: none;
    /* margin-top: 2rem; */
}
.rightdrop .li .anchor{
    text-decoration: none;
    color: #262c55;
    font-weight: 600;
    line-height: 30px;
    font-family: 'moderat', sans-serif;
    /* margin-top: 2rem; */
    /* position: absolute; */
    

}
.li .anchor:hover{
    color: #00abab;
}
.hamburger{
    display: none;
}
.fa-bars{
    display: none;
}
.nav-menu2{
    position: relative;
}
.dropmenu2{
    position: absolute;
    /* border: solid medium red; */
    width: 900px;
    list-style-type: none;
    margin-left: -350px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    top: 30px;
    /* gap: 8rem; */
    /* width: 100%; */
    display: none;
    /* background-color: #fffb00; */
    z-index: 20;
    background-color: white;
    
}
.submenu2{
    text-decoration: none;
    line-height: 22.4px;
    font-size: 16px;
    font-weight: 600;
    color: #262c55;
    width: 100%;
    display: block;
    font-family: 'moderat',sans-serif;
    /* margin-left: 1rem; */
    /* margin-bottom: 1rem; */
    padding: 15px 20px;
    border-radius: 8px;
    

    /* border: solid medium red; */
}
.subcont2{
    width: 60%;
    background-color: #f8fafd;
    padding: 10px;
    border-radius: 6px;

}
.submenu2:hover{
    background-color: rgba(128, 128, 128, 0.194);
    /* padding: 10px 20px; */
}
.nav-menu2:hover .dropmenu2{
    display: flex;
}
.rightdrop2{
    display: flex;
    align-items: center;
    /* justify-content: start; */
    /* margin-top: 2rem; */
    gap: 1rem;
    width: 100%;
    padding: 1rem; 
    cursor: pointer;
    /* margin: 1rem; */
    
}

.rightdrop2 h6 a{
    text-decoration: none;
    color: #262c55;
    font-weight: 600;
    line-height: 30px;
    font-family: 'moderat', sans-serif;
    font-size: 16px;
    /* margin-top: 2rem; */
    /* position: absolute; */
    

}
.rightdrop2 h6 a:hover{
    color: #00abab;
}
.rightdrop2 p{
    font-family: 'moderat', sans-serif;
    font-size: 14px;
}
.hd__qr-container {
    border-radius: 1rem;
    padding: 8px 10px;
    border: 1px dashed rgba(10, 14, 39, .6);
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 1rem;
    font-family: 'moderat',sans-serif;
}

.nav-menu3{
    position: relative;
    z-index: 10;
}
.dropmenu3{
    position: absolute;
    /* border: solid medium red; */
    width: 350px;
    list-style-type: none;
    margin-left: -50px;
    /* display: flex; */
    /* justify-content: space-between; */
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    top: 30px;
    /* gap: 8rem; */
    /* width: 100%; */
    display: none;
    /* background-color: #fffb00; */
    padding: 1rem;
    z-index: 20;
    background-color: white;
}
.submenu3{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
    /* justify-content: space-between; */
    
}
.submenu3 h6{
    font-size: 16px;
    font-family: 'moderat',sans-serif;
    line-height: 30px;
    color: #262c55;
}
.submenu3 h6:hover{
    color: #00abab;
}
.submenu3 p{
    font-family: 'moderat',sans-serif;
    font-size: 14px;
}
.nav-menu3:hover .dropmenu3{
    display: block;
}
.nav-menu4{
    position: relative;
}
.dropmenu4{
    position: absolute;
    /* border: solid medium red; */
    width: 200px;
    list-style-type: none;
    margin-left: -50px;
    /* display: flex; */
    /* justify-content: space-between; */
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    top: 30px;
    /* gap: 8rem; */
    /* width: 100%; */
    display: none;
    /* background-color: #fffb00; */
    padding: 1rem;
    z-index: 20;
    background-color: white;
}
.dropmenu4 li{
    font-family: 'moderat',sans-serif;
    margin-bottom: 20px;
    color: #262c55;
}
.dropmenu4 li:hover{
    color: #00abab;
}
.nav-menu4:hover .dropmenu4{
    display: block;
}
.nav-menu5{
    position: relative;
}
.dropmenu5{
    position: absolute;
    /* border: solid medium red; */
    width: 200px;
    list-style-type: none;
    margin-left: -50px;
    /* display: flex; */
    /* justify-content: space-between; */
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    top: 30px;
    /* gap: 8rem; */
    /* width: 100%; */
    display: none;
    /* background-color: #fffb00; */
    padding: 1rem;
    z-index: 20;
    background-color: white;
}
.dropmenu5 li{
    font-family: 'moderat',sans-serif;
    margin-bottom: 20px;
    color: #262c55;
}
.dropmenu5 li:hover{
    color: #00abab;
}
.nav-menu5:hover .dropmenu5{
    display: block;
}
.nav-menu6{
    position: relative;
}
.dropmenu6{
    position: absolute;
    /* border: solid medium red; */
    width: 200px;
    list-style-type: none;
    margin-left: -50px;
    /* display: flex; */
    /* justify-content: space-between; */
    border-radius: 8px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    top: 30px;
    /* gap: 8rem; */
    /* width: 100%; */
    display: none;
    /* background-color: #fffb00; */
    padding: 1rem;
    z-index: 20;
    background-color: white;
}
.dropmenu6 li{
    font-family: 'moderat',sans-serif;
    margin-bottom: 20px;
    color: #262c55;
}
.dropmenu6 li:hover{
    color: #00abab;
}
.nav-menu6:hover .dropmenu6{
    display: block;
}
/* mediaquery */
@media(max-width:1053px){
    .nav-menus{
       gap: 1rem;
    }
   }
   @media(max-width:900px){
    .nav{
        width: 95%;
    }
 .sign-in{
    display: none;
 }
 .nav-menus{
    display: none;
 }
 .hamburger{
    display: block;
 }
  .fa-bars{
    display: block;
}
}
/* section1 */
.sec1{
    margin-top: 8rem;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.left-hero{
margin-left: 7%;
max-width: 75rem;
}
.hero-head{
    font-size: 70px;
    line-height: 5.6rem;
    font-family: 'millik', sans-serif;
    margin-bottom: 30px;
    max-width: 50rem;
}
.hero-head span{
    color: #6672c7;
}
.hero-p{
    max-width: 30rem;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 2rem;
    font-weight: 300;
    font-family: 'moderat',  sans-serif;
}
.hero-b{
    display: flex;
    gap: 1rem;
}
.hero-li{
    list-style-type: none;
    font-family: 'moderat',  sans-serif;
    margin-bottom: 3rem ;
    font-size: 18px;
    line-height: 26px;
}
.hero-li li{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
}
.hero-li li::before{
        background-color: #6672c7;
        border-radius: 100%;
        content: "";
        height: 12px;
        left: 0;
        position: absolute;
        top:5px;
        width: 20px;
}
.heroimg{
    height: auto; 
    width: 100%;
    margin-left: -37.5rem;
    margin-top: 5rem;
   
    overflow: hidden;
    z-index: -1;
   

}
.heroimg img{
  
    left: 25.5rem;
    position: relative;
    width: 690px;
    height: 720px;
    display: block;
    z-index: -1;
   

}
.hero-b .btn1{
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
    background-color: #0a0e27;
    color: #fff;
    font-family: 'moderat', sans-serif;
    font-size: 16px;
}
.btn2{
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
    font-family: 'moderat', sans-serif;
    font-size: 16px;
}
.sponsors{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 8%;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 150px;
}
/* mmediaqurery */
@media(max-width:1040px){
    .left-hero{
        margin-left: 0;
        padding: 20px;
    }
}
    @media(max-width:1000px){
        .hero{
            display: block;
        }
        .heroimg{
            margin-left: 0;
            width: 100%;
            height: auto;
        }
        .heroimg img{
            left: 0;
            width: 100%;
            padding: 20px;
            height: auto;

        }
        .left-hero{
            max-width: 100%;
        }
        .sponsors{
            margin-left: 0;
            padding: 20px;
        }
    }
    @media(max-width:600px){
        .hero-head{
            font-size: 50px;
            line-height: 4rem;
        }
        .sponsors{
            gap: 2rem;
            flex-wrap: wrap;
        }
        .hero-p{
            font-size: 18px;
        }

}
@media(max-width:320px){
    .hero-b .btn1{
        padding: 15px 25px;
        border-radius: 5px;
        border: none;
        background-color: #0a0e27;
        color: #fff;
        font-family: 'moderat', sans-serif;
        font-size: 14px;
    }
    .btn2{
        padding: 15px 25px;
        border-radius: 5px;
        border: none;
        font-family: 'moderat', sans-serif;
        font-size: 14px;
    }
    .sponsors{
        width: 100%;
        height: auto;
    }
    .hero-head{
        font-size: 40px;
        line-height: 2.5rem;
    }
    
}
/* section2 */
.sec2{
    margin-top: 150px;
    background-color: #f8fafd;
}
.sec2-content{
    padding-top: 150px;
    margin-left: 7%;
    padding-bottom: 150px;
}
.sec2-head{
    font-size: 80px;
    font-family: 'millik',sans-serif;
    max-width: 50rem;
    margin-bottom: 30px;
}
.sec2-head span{
    color: #6672c7;
}
.sec2-p{
    font-size: 22px;
    font-family: 'moderat',sans-serif;
    max-width: 38rem;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    
}
.sec2-list{
    list-style-type: none;
    margin-bottom: 60px;
    font-size: 18px;
    font-family: 'moderat',sans-serif;
}

.sec2-list li::before{
    background-color: #6672c7;
    border-radius: 100%;
    content: "";
    height: 12px;
    left: 0;
    position: absolute;
    top:5px;
    width: 20px;
}
.sec2-list li{
    margin-bottom: 30px;
    
    position: relative;
    padding-left: 30px;
}
.sec2-btn button{
    padding: 25px 40px;
    border: none;
    background-color: #0a0e27;
    font-size: 16px;
    color: white;
    align-items: center;
    border-radius: 5px;
}
/* mediaquery */
@media(max-width:1140px){
    .sec2-content{
        margin-left: 0;
        padding: 20px;
    }

}
@media(max-width:900px){
    .sec2-head{
        font-size: 50px;
    }
}
@media(max-width:600px){
    .sec2-head{
        font-size: 30px;
    }
    .sec2-p{
        font-size: 18px;
    }
    .sec2-btn button{
        font-size: 14px;
        padding: 25px 25px;
    }
}
@media(max-width:600px){
    .sec2-btn button{
        font-size: 12px;
        padding: 25px 25px;
    }
}

/* section3 */
.sec3-content{
    padding-top: 150px;
}
.sec3-head{
    font-size: 80px;
    font-family: 'millik',sans-serif;
    max-width: 55rem;
    margin-left: 7%;
    margin-bottom: 30px;
}
.sec3-head span{
    color: #6672c7;
}
.sec3-p{
    font-size: 22px;
    line-height: 32px;
    font-family: 'moderat',sans-serif;
    width: 85%;
    margin-inline: auto;
    margin-bottom: 50px;
}
.sec3-flex{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-inline: auto;
    align-items: flex-start;
}
.flex1 h3{
    font-family: 'moderat',sans-serif;
    margin-bottom: 20px;
}
.flex1 p{
    font-size: 16px;
    font-family: 'moderat',sans-serif;
    max-width: 28rem;
    line-height: 32px;
}
.flex2 h3{
    font-family: 'moderat',sans-serif;
    margin-bottom: 20px;
}
.flex2 p{
    font-size: 16px;
    font-family: 'moderat',sans-serif;
    max-width: 27rem;
    line-height: 32px;
}
/* mediaquery */
@media(max-width:1140px){
    .sec3-head{
        margin-left: 0;
        padding: 20px;
    }
    .sec3-p{
        width: 100%;
        padding: 20px;
    }
    .sec3-flex{
        width: 100%;
        padding: 20px;
    }
}
@media(max-width:900px){
    .sec3-head{
        font-size: 50px;
    }
    .sec3-flex{
        display: block;
    }
    .flex1{
        margin-bottom: 60px;
    }
    .flex1 p{
        max-width: 100%;
    }
    .flex2 p{
        max-width: 100%;
    }
}
@media(max-width:600px){
    .sec3-head{
        font-size: 30px;
        margin-bottom: 0px;
    }
    .sec3-p{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
}
/* lollllll */
.wave{
    margin-top: 100px;
}
.figure {
    overflow: hidden;
    width: 100%;
}
figure svg {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
}
figure svg path:nth-child(1) {
    --delay: calc(1* 0.06s);
}
figure svg path:nth-child(2) {
    --delay: calc(2* 0.06s);
}
figure svg path:nth-child(3) {
    --delay: calc(3* 0.06s);
}
figure svg path:nth-child(4) {
    --delay: calc(4* 0.06s);
}
figure svg path:nth-child(5) {
    --delay: calc(5* 0.06s);
}
figure svg path:nth-child(6) {
    --delay: calc(6* 0.06s);
}
figure svg path:nth-child(7) {
    --delay: calc(7* 0.06s);
}
figure svg path:nth-child(8) {
    --delay: calc(8* 0.06s);
}
figure svg path:nth-child(9) {
    --delay: calc(9* 0.06s);
}
figure svg path:nth-child(10) {
    --delay: calc(10* 0.06s);
}
figure svg path:nth-child(11) {
    --delay: calc(11* 0.06s);
}
figure svg path:nth-child(12) {
    --delay: calc(12* 0.06s);
}
figure svg path:nth-child(13) {
    --delay: calc(13* 0.06s);
}
figure svg path:nth-child(14) {
    --delay: calc(14* 0.06s);
}
figure svg path:nth-child(15) {
    --delay: calc(15* 0.06s);
}
figure svg path:nth-child(16) {
    --delay: calc(16* 0.06s);
}
figure svg path:nth-child(17) {
    --delay: calc(17* 0.06s);
}
figure svg path:nth-child(18) {
    --delay: calc(18* 0.06s);
}
figure svg path:nth-child(19) {
    --delay: calc(19* 0.06s);
}
figure svg path:nth-child(20) {
    --delay: calc(20* 0.06s);
}
figure svg path:nth-child(21) {
    --delay: calc(21* 0.06s);
}
figure svg path:nth-child(22) {
    --delay: calc(22* 0.06s);
}
figure svg path:nth-child(23) {
    --delay: calc(23* 0.06s);
}
figure svg path:nth-child(24) {
    --delay: calc(24* 0.06s);
}
figure svg path:nth-child(25) {
    --delay: calc(25* 0.06s);
}
figure svg path:nth-child(26) {
    --delay: calc(26* 0.06s);
}
figure svg path:nth-child(27) {
    --delay: calc(27* 0.06s);
}
figure svg path:nth-child(28) {
    --delay: calc(28* 0.06s);
}
figure svg path:nth-child(29) {
    --delay: calc(29* 0.06s);
}
figure svg path:nth-child(30) {
    --delay: calc(30* 0.06s);
}
figure svg path:nth-child(31) {
    --delay: calc(31* 0.06s);
}
figure svg path:nth-child(32) {
    --delay: calc(32* 0.06s);
}
figure svg path:nth-child(33) {
    --delay: calc(33* 0.06s);
}
figure svg path:nth-child(34) {
    --delay: calc(34* 0.06s);
}
figure svg path:nth-child(35) {
    --delay: calc(35* 0.06s);
}
figure svg path:nth-child(36) {
    --delay: calc(36* 0.06s);
}
figure svg path:nth-child(37) {
    --delay: calc(37* 0.06s);
}
figure svg path:nth-child(38) {
    --delay: calc(38* 0.06s);
}
 figure svg path {
    --delay: 0s;
    transform-box: fill-box;
    transform-origin: center;
    animation: rotate 3s cubic-bezier(0.16, 1, 0.3, 1) var(--delay) infinite alternate-reverse;
}
@keyframes rotate{
    0%{

    }
    100% {
        transform: rotate(180deg);
    }
}
/* sec4 */

.container7{
    margin-top: 15rem;
    margin-bottom: 8rem;
    /* padding: 0 40rem; */
    
    width: 85%;
    /* padding: 3rem ; */
    margin-inline: auto;
    /* color: white; */
    /* background-color: black; */
    /* margin: 0 auto; */
    /* max-width: 80rem; */
    background-color: #1d1d1d;
    border-radius: 2rem;
    box-shadow: 0px 25px 50px rgba(29, 29, 29, .5);
    color: #fff;
    /* padding: 3rem; */
}
.sec7content{
    padding-top: 80px;
    margin-inline: auto;
    max-width: 45rem;
    padding-bottom: 80px;
    
}
.sec7-head{
    font-family: "Millik", sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 5.4rem;
    margin-bottom: 30px;
    margin-inline: auto;
    /* max-width: 50rem; */
    
}
.sec7-p{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 70px;
    font-family: 'moderat', sans-serif;
}
.sec7flex{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.btnget{
    font-size: 16px;
    line-height: 20px;
    padding: 20px 40px;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    transition: all .3s ease;
    font-family: 'moderat', sans-serif;
}

.contact-sale{
    color: white;
    text-decoration: none;
    font-family: 'moderat', sans-serif;
    display: inline-flex; /* Ensures icon is aligned with text */
    align-items: center; /* Centers text and icon vertically */
    

}
.contact-sale:hover .icon {
    transform: translateX(0.5rem); /* Move the icon to the right */
}
.icon {
    transition: transform 0.3s ease; /* Smooth transition for the icon */
    margin-left: 0.5rem; /* Space between text and icon */
}
/* mediaquery */
@media(max-width:1170px){
    .container7{
        width: 95%;
        padding: 20px;
    } 
}
@media(max-width:750px){
    .sec7-p{
        font-size: 20px;
    }
    .sec7content{
        padding-bottom: 60px;
        padding-top: 60px;
    }
}
@media(max-width:600px){
    .sec7-head{
        font-size: 35px;
        margin-bottom: 20px;
        line-height: 2rem;
    }
    .sec7-p{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .sec7content{
        padding-bottom: 30px;
    }

}
/* footer  */
.footer-wrapper{
    width: 90%;
    margin-inline: auto;
    /* color: gray; */
}
.f-l{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.f-h{
    font-size: 18px;
    font-family: 'moderat',sans-serif;
    margin-bottom: 2rem;
    
}
.legal{
    font-size: 18px;
    font-family: 'moderat',sans-serif; 
    display: none;
}
.l-d li{
    /* line-height: 2.4rem; */
    margin-bottom: 2rem;
    font-family: 'moderat',sans-serif;
    font-weight: 100;


}
.ft__section{
    width: auto;
}
.location{
    position: relative;
    /* border: solid medium green; */
    /* padding-top: 40px; */
    
}

.location__toggler{
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #1d1d1d;
    cursor: pointer;
    display: flex;
    /* flex: 0 0 1 auto; */
    font-size: 16px;
    font-weight: 300;
    justify-content: center;
    line-height: 1.9rem;
    /* padding: .4rem; */
    transition: color .3s ease;
    /* border: solid medium red; */
    /* padding-top: 40px; */
}
.location__flag {
    background: #fff;
    border: none;
    border-radius: 100%;
    /* flex: 0 0 auto; */
    height: 1.5rem;
    align-self: center;
    margin-right: .8rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 1.5rem;
}
.location__name {
    /* flex: 0 0 auto; */
    font-family: "Moderat", sans-serif;
}
.location__toggler__icon {
    flex: 0 0 auto;
    height: .5rem;
    margin-left: .5rem;
    margin-top: .2rem;
    stroke: currentColor;
    width: auto;
}
.location__dropdown {
    background-color: #fff;
    border-radius: 1rem;
    bottom: calc(100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, .2);
    left: 0;
    padding: 1rem 0 1rem 1rem;
    position: absolute;
    z-index: 10;
    width: 40rem;
    display: none;

}
.location:hover .location__dropdown{
    display: block;
}
.location__dropdown-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}
.location__dropdown-item {
    flex: 0 0 auto;
    padding: 1rem;
    text-align: left;
    width: 30%;
}
.location__dropdown-item:hover{
    background-color: rgba(128, 128, 128, 0.281);
    border-radius: 10px;
}

.location .country {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: .5rem;
    display: inline-flex;
    font-size: 15px;
    font-weight: 300;
    justify-content: flex-start;
    line-height: 1.8rem;
    /* padding: .5rem .5rem; */
    text-decoration: none;
    /* transition: all .3s ease; */
    border: none;
    cursor: pointer;
    font-family: "Moderat", sans-serif;
}
.location .country__flag {
    background-color: #fff;
    border-radius: .5rem;
    flex: 0 0 auto;
    height: 1.5rem;
    margin-right: 1rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    width: 2rem;
}
.f-2f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.187);
    padding: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.187);
    /* width: 2px; */
    
}
.f-li{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    font-family: 'moderat',sans-serif;
    font-weight: 100;
}
.f-lf{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'moderat',sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}
.footer{
    font-family: 'moderat',sans-serif;
    font-weight: 100;
    padding-bottom: 40px;
}
/* mediaquery */
@media(max-width:1170px){
    .footer-wrapper{
        width: 100%;
        padding: 20px;
    }
}
@media(max-width:900px){
    .l-d li{
        display: none;
    
    }
    .f-l{
        display: block;
        margin-top: -60px;
    }
    .f-h{
        margin-top: 0;
        line-height: 4rem;
    }
    .f-li{
        display: none;
    }
    .f-lf li{
        display: none;
    }
    .legal{
        display: block;
    }
}
@media(max-width:700px){
    .location__dropdown{
        /* width: 100%; */
        width: 30rem;
        
    }
    .location__dropdown-item{
        width: 50%;
    }
}
@media(max-width:545px){
    .location__dropdown{
        /* width: 100%; */
        width: 20rem;
        padding: 0 0 0 0;
    }
    .location__dropdown-item{
        width: 100%;
        

    }
}
@media(max-width:370px){
    .location__dropdown{
        /* width: 100%; */
        width: 15rem;
        padding: 10px;
    } 
}
